<!doctype html>
<html lang="en">

<head>
  <!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-NF359JFENQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-NF359JFENQ');
  </script> -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/">
  <!-- <meta name="title" content="Covid dashboard">
  <meta name="description"
    content="Covid live updates from around the world. Know the number of deaths, active cases,recovered cases and total cases around the world and your country.">
  <meta name="keywords" content="covid dashboard,corona status,corona virus data"> -->
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">

  <title>Coronavirus Tracker</title>

<link rel="stylesheet" href="styles.3ff695c00d717f2d2a11.css"></head>
<body>
  <app-root></app-root>
  <link rel="icon" href="assets/covid/img/core-img/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/covid/assets/css/datatables.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/jquery-jvectormap-2.0.5.css">
  <link rel="stylesheet" type="text/css" href="assets/covid/style.css">

  <script type="text/javascript" src="assets/covid/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/covid/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery-jvectormap-2.0.5.min.js"></script>
  <script type="text/javascript" src="assets/covid/assets/js/datatables.min.js"></script>
  <script type="text/javascript" src="assets/js/dataTables.rowReorder.min.js"></script>
  <script type="text/javascript" src="assets/js/dataTables.responsive.min.js"></script>
<script src="runtime.7b63b9fd40098a2e8207.js" defer></script><script src="polyfills.94daefd414b8355106ab.js" defer></script><script src="main.458cf3cb95a68c76b17a.js" defer></script></body>
</html>